body {
  background: #3494e6;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 75px 1fr 75px;

  gap: 1rem;
  grid-template-areas: 
  'header header'
  'aside main'
  'footer footer';
}

header, aside, main, footer {
  background: rgba(255, 255, 255, 0.6);
  display: grid;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  align-items: stretch;
  justify-content: stretch;
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 1rem;
  padding: 1rem;
}

.blog-items {
  background-color: #ec6ead;
}

footer {
  grid-area: footer;
}

@media (max-width: 650px) {
 aside {
   display: none;
 } 

 .container {
   display: grid;
   grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer';
}
}