body {
  background: #3494e6;
  height: 100vh;
  overflow-y: hidden;
  margin: 2rem;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: auto;

  justify-content: center;
  align-content: center;
}

.login {
  background: rgba(255, 225, 255, 0.6);
  padding: 2rem;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;

  justify-items: center;
}

.login__text-field {
  width: 100%;
  border: 1px solid #eee;
  padding: 0.3rem;
  outline: none;
  border: 5px;
}